In [20]:
import pandas as pd
import os

csv_path = os.path.join("C:\\Users\\mas34\\Downloads\\TemperatureDataFiltered.csv")

temperature_df = pd.read_csv(csv_path)

reduced_df = temperature_df[["dt", "AverageTemperature", "Country"]]

reduced_df['dt'] = pd.to_datetime(reduced_df['dt'])
pd.to_datetime(reduced_df['dt'])

reduced_df.dtypes

reduced_df['temp_year'] = reduced_df['dt'].dt.to_period('Y') 

#print( reduced_df['dt'].dt.to_period('Y') )

semifinal_df = reduced_df[['AverageTemperature', 'Country', 'temp_year']]

semifinal_df.groupby(['Country', "temp_year"]).mean()

reduced_df = temperature_df[["dt", "AverageTemperature", "Country"]]

reduced_df['dt'] = pd.to_datetime(reduced_df['dt'])
pd.to_datetime(reduced_df['dt'])

reduced_df.dtypes

reduced_df['temp_year'] = reduced_df['dt'].dt.to_period('Y') 

#print( reduced_df['dt'].dt.to_period('Y') )

semifinal_df = reduced_df[['AverageTemperature', 'Country', 'temp_year']]

semifinal_df.groupby(['Country', "temp_year"]).mean()

C:\Users\mas34\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\mas34\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                         AverageTemperature
Country       temp_year
Brazil        1950                24.639000
              1951                24.797333
              1952                24.851667
              1953                24.995583
              1954                24.967000
              1955                24.765500
              1956                24.479667
              1957                24.801917
              1958                25.268083
              1959                25.157250
              1960                24.752667
              1961                25.146417
              1962                24.842333
              1963                25.171583
              1964                24.734083
              1965                24.983833
              1966                25.086417
              1967                25.013667
              1968                24.631250
              1969                25.282750
              1970                25.191083
              1971                24.608500
              1972                25.097333
              1973                25.169583
              1974                24.581500
              1975                24.676750
              1976                24.719000
              1977                25.132333
              1978                24.927500
              1979                24.944333
...                                     ...
United States 1984                 8.811167
              1985                 8.587000
              1986                 9.559500
              1987                 9.628167
              1988                 9.275333
              1989                 8.873083
              1990                 9.521583
              1991                 9.493667
              1992                 9.056333
              1993                 8.867250
              1994                 9.270333
              1995                 9.331000
              1996                 8.754333
              1997                 9.172917
              1998                10.141167
              1999                 9.567000
              2000                 9.649750
              2001                 9.785583
              2002                 9.816167
              2003                 9.755083
              2004                 9.667500
              2005                 9.892667
              2006                 9.974500
              2007                 9.837500
              2008                 8.951417
              2009                 9.137083
              2010                 9.505583
              2011                 9.549917
              2012                10.261083
              2013                11.297111

[576 rows x 1 columns]